<div class="row gap-20 masonry pos-r">
  <div class="masonry-sizer col-md-6"></div>

  <!--Preditions-->
  <div class="masonry-item  w-100">
    <div class="row gap-20">
      <!--Input-->
      <div class='col-md-3'>
        <div class="layers bd bgc-white p-20">
          <div class="layer w-100 mB-10">
            <h6 class="lh-1">Input value</h6>
          </div>
          <div class="layer w-100">
            <input class="form-control bdrs-10em m-0" placeholder="Enter value to predict..." type="number" (change)="predictLinearValue($event.target.value)" />
          </div>
        </div>
      </div>

      <!-- Output -->
      <div class='col-md-3'>
          <div class="layers bd bgc-white p-20">
            <div class="layer w-100 mB-10">
              <h6 class="lh-1">Prediction</h6>
            </div>
            <div class="layer w-100">
              <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-green-50 c-green-500">{{ lastprediction }}</span>
            </div>
          </div>
        </div>
    </div>
  </div>
  
  <!--Graph-->
  <div class="masonry-item col-12">
    <div class="bd bgc-white p-20">
      <div class="layers">
          <div class="layer w-100 mB-10">
            <h6 class="lh-1">Graph</h6>
          </div>
          <div class="layer w-100">
            <canvas id="canvas">{{ chart }}</canvas>
          </div>
        </div>
    </div>
  </div>

  <!--Training set-->
  <div class="masonry-item col-12">
    <div class="bd bgc-white p-20">
      <div class="layers">
        <div class="layer w-100 mB-10">
          <h6 class="lh-1">Training set</h6>
        </div>
        <div class="layer w-100 mB-40">
          <button type="button" class="btn btn-primary" (click)="trainLinearModel()">Train</button>
        </div>
        <div class="layer w-100 mB-10">
          <p>Modify the values below and click Train to re-calibrate the model:</p>
        </div>
        <div class="layer w-100">
          <hot-table
            [colHeaders]="true"
            [rowHeaders]="true"
            [data]="trainingset">
          </hot-table>
        </div>
      </div>
    </div>
  </div>

</div>
