/*
body {
    margin: 0;
}

.header {
    background-color: #f1f1f1;
    padding: 15px;
    text-align: center;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.leftpanel {
    float: left;
    width: 33.33%;
    padding: 15px;
}
.rightpanel {
    padding: 15px;
}
*/
